body {
    background-color: rgb(231, 231, 231);
}
h1 {
    color: #000000;
    text-align: center;
    font-size: 50px;
}
.center {
    color: #ff0000;
    text-align: center;
    font-size: 30px;

}
footer {
    text-align: center;
}
